body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}
.nav_title{
  font-size: 20px;
  width: 2vw;
  gap: 10px;
  display: flex;
}
.p1{
  color: black;
  font-weight: 700;
}
.p2{
  color: rgb(65, 25, 11);
  font-weight: 700;
}

nav{
  display: flex;
  width: 80vw;
  justify-content: flex-end;
  padding: 1rem;
  gap: 15px;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6cbcdb;
}
.btn{
  border-radius: 10px;
  background-color: black;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 9px;
  border: none;
}
.btn:hover{
  cursor: pointer;
}
.btn2{
  border-radius: 10px;
  border: none;
}
.btn2:hover{
  cursor:pointer;
}
.btn3{
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 60px;
  background-color: beige;
}
.btn3:hover{
  cursor: pointer;
  background-color: chocolate;
}

a{
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(151, 151, 151);
}
.adjust{
  height: 70vh;
  text-align: center;
}
.formulario{
  margin-top: 60px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: rgb(223, 127, 143);
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
  background-color: #6cbcdb;
  width: auto;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}
.fav{
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  height: 60vh;
}
table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}